
body {
    background-color: #777777;
    color: #cccccc;
    padding: 20px;
}

hr {
    border: none;
    height: 3px;
    background-color: #555555;
}

.colorCircle {
    border-radius: 50%;
    height: 50px;
    width: 50px;
    vertical-align: middle;
}

input[type="color"] {
    border-radius: 50%;
    height: 50px;
    width: 50px;
    border: 2px solid black;
    margin: -2px;
    outline: none;
    -webkit-appearance: none;
    overflow: hidden;
    vertical-align: middle;
    display: block;
}
input[type="color"]::-webkit-color-swatch-wrapper {
    padding: 0; 
}
input[type="color"]::-webkit-color-swatch {
    border: none;
    margin: -10px;
}

.stack * + * {
    padding-top: 10px;
}

.rows {
    display: flexbox;
}
.rows > * {
    display: inline-block;
    padding-right: 10px;
}
